#root {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: lightcoral; }

#appContainer {
  width: 100%;
  height: 100%;
  background-color: lightcoral; }

#navigationContainer {
  width: 100%;
  height: 150px;
  background-color: lightblue;
  border: 2px solid black; }

#nav {
  width: 100%;
  height: 100%; }

.navLink {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  background-color: royalblue;
  border: 2px solid black;
  font-size: 2em; }
